---
layout: post
title: "늘보,연어,흑백의 겹치는 시간표 찾기"
date: 2024-10-03 15:00:00 +0900
categories: [업무, 스케줄, 일정, 일정관리]
tags: [업무, 스케줄, 일정, 일정관리]
---

<div id="schedule">
  {% assign schedule_c1 = site.data.schedule_c1.data %}
  {% assign schedule_c2_svc = site.data.schedule_c2_svc.data %}
  {% assign schedule_c2_epc = site.data.schedule_c2_epc.data %}
  
  {% assign schedules = "" | split: "" %}  
  
  {% for item in schedule_c1 %}
    {% assign schedules = schedules | push: item %}
  {% endfor %}
  
  {% for item in schedule_c2_svc %}
    {% assign schedules = schedules | push: item %}
  {% endfor %}
  
  {% for item in schedule_c2_epc %}
    {% assign schedules = schedules | push: item %}
  {% endfor %}

  <table>
    <thead>
      <tr>
        <th>성명</th>
        <th>일</th>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
        <th>토</th>
      </tr>
    </thead>
    <tbody>
      {% assign target_names = "유윤광,이재현,양기열" | split: "," %}
            {% for item in schedule_c1 %}
        {% if item[1] == "날짜" %}
          <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            <td>{{ item[6] }}</td>
            <td>{{ item[7] }}</td>
            <td>{{ item[8] }}</td>
          </tr>
        {% endif %}
      {% endfor %}
      {% for item in schedules %}
        {% if target_names contains item[1] %}
          {% assign name = item[1] %}
          {% if name == "유윤광" %}
            {% assign name = "늘보" %}
          {% elsif name == "양기열" %}
            {% assign name = "연어" %}
          {% elsif name == "이재현" %}
            {% assign name = "흑백" %}
          {% endif %}
          <tr>
            <td>{{ name }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            <td>{{ item[6] }}</td>
            <td>{{ item[7] }}</td>
            <td>{{ item[8] }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>